<div class="pre-footer"></div>
<footer class="footer">
  <include
    src="./minifooter.html"
    labelFooter="Tienda"
    liF1="Productos"
    liF2="Cajoneras"
    liF3="Para toda la casa"
    liF4="Habitaciones"
  ></include>
  <include
    src="./minifooter.html"
    labelFooter="Nosotros"
    liF1="Nuestra guía"
    liF2="Nuestro diseño"
    liF3="Nuestra historia"
    liF4="Ayuda"
  ></include>
  <!-- <include
    src="./minifooter.html"
    labelFooter="Contacto"
    liF1="ayuda@openspaces.com"
    liF2="Socios"
  ></include> -->
  <div>
    <h5 class="footer__list--h5">Contacto</h5>
    <ul class="footer__list--ul">
      <li>ayuda@openspaces.com</li>
      <li>Socios</li>
      <li>
        <i class="fab fa-twitter fa-lg"></i>
        <i class="fab fa-linkedin-in fa-lg"></i>
        <i class="fab fa-instagram fa-lg"></i>
      </li>
    </ul>
  <!-- <div class="footer__icon">
    <i class="fab fa-twitter fa-lg"></i>
    <i class="fab fa-linkedin-in fa-lg"></i>
    <i class="fab fa-instagram fa-lg"></i>
  </div> -->
  <!-- <div class="footer__icon">
    <i class="fab fa-twitter fa-lg"></i>
    <i class="fab fa-linkedin-in fa-lg"></i>
    <i class="fab fa-instagram fa-lg"></i>
  </div> -->
</footer>
