<header class="header" id="header">
  <nav>
    <ul class="rowMenu">
      <li>Productos</li>
      <li>Colecciones</li>
      <li>Tienda</li>
      <li>Inicio</li>
    </ul>
  </nav>
  <menu class="menu1">
    <nav class="menu1__bar">
      <i class="fas fa-bars" style="color: #0c474b"></i>
    </nav>

    <span>
      <img
        title="logo"
        class="menu1__logo"
        src="./assets/images/logo.png"
        alt="logo "
      />
    </span>
  </menu>
  <hero class="hero">
    <h1 class="hero__h1">Disfruta creando espacios</h1>
    <button class="hero__button">Comprar ahora</button>
  </hero>
</header>
<!-- <div>
    <nav class="header__bar">
      <i class="fas fa-bars" style="color: #0c474b"></i>
    </nav>
    <nav>
      <ul class="rowMenu">
        <li>Productos</li>
        <li>Colecciones</li>
        <li>Tienda</li>
        <li>Inicio</li>
      </ul>
    </nav>
    <span>
      <img
        title="logo"
        class="header__logo"
        src="./assets/images/logo.png"
        alt="logo "
      />
    </span>
  </div>

  <h1 class="header__h1">Disfruta creando espacios</h1>
  <button class="header__button">Comprar ahora</button> -->
