<main>
  <div class="container container__main">
    <div class="box1">
      <h2 class="box1__h2">
        Volverse organizado se siente mejor con
        <span class="box1__h2--span">Open spaces</span>
      </h2>
    </div>
    <div class="box2">
      <img src="./assets/images/icon_1.png" alt="bodegón" title="icono mesa" />
      <h3>Lo que necesitas</h3>
      <p>Una linea de productos diseñados para todos tus espacios</p>
    </div>
    <div class="box3">
      <img src="./assets/images/icon_2.png" alt="bolsa" title="bolsa" />
      <h3 class="diferent-h3">Materias primas sustentables</h3>
      <p>Todos los productos con materias primas sustentables.</p>
    </div>
    <div class="box4">
      <img src="./assets/images/icon_3.png" alt="cartel" title="cartel" />
      <h3>Guia</h3>
      <p>Soporte y asesoramiento para ayudarte con tu objetivo.</p>
    </div>
  </div>
</main>
