.pre-footer{
  width: 100%;
  height: 571px;
  background-image: url('../images/creando-espacios.jpg');
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
  background-size: cover;
}
