.header{
  width: 100%;
  height: 100vh;
  background-image: url('../images/header.jpg');
  background-repeat: no-repeat;
  background-color: white;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  
      &__bar{
          position: fixed;
          top: 55px;
          left: 30px;
      }

      &__logo{
          width: auto;
          height: auto;
          margin-top: 20px;
      }
      &__title{
        font-family: $font-main;
      }
}