// main
.container {
    padding: 0 45px;    
        &__main{
        background-color: $color-bg;
        color: $color-main-font;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 45px;
        justify-items: center;
        padding-bottom: 45px;
        align-items: center;
        }
        &__section1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 60px 0;
        color: $light-color-font;
            &--h4{
                font-size: 24px;
                font-weight: 600;
                margin: 15px 0;
            } 
            &--p{
                font-size: 14px;
                padding-bottom: 40px;
            }
            &--a{
                color: $light-color-font;
                font-weight: 600;
                font-size: 1rem;
            }
        }
        &__section2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 90px 0;
            color: $color-main-font;
                &--h4{
                    font-size: 24px;
                    font-weight: 600;
                    margin: 15px 0;
                } 
                &--p{
                    font-size: 14px;
                    padding-bottom: 40px;
                    margin: 0 15px;
                }
                &--a{
                    color: white;
                    background-color: $color-main-font;
                    padding: 12px 24px;
                    border: none;
                    font-family: $font-main;
                    font-weight: 600;
                    font-size: 16px;
                    text-transform: capitalize;
                    text-decoration: none;
                }
        }

}
.container__main img{
    width: 90px;
    height: 100px;
    margin-bottom: 45px;
    

}
.container__main h3{
    font-family: $font-main;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 12px;
    
    
}
.container__main p{
    text-align: center;
    max-width: 210px;
    
}
.box1{
    margin-top: 40px;
    &__h2{
        font-size: 24px;
        font-weight: 600;
        &--span{
            text-transform: uppercase;
        }
    }
}
.diferent-h3  {
    width: 16ch;
    text-align: center;
}
.delivery {
    background-color: $color-bg-secondary;
}
.products{
    background-color: $color-bg;
}
// section
