/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/


@import 'core/variables';
@import 'core/reset';
@import 'layout/header';

.container {
    margin: 0 45px;
}
.main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 45px;
    text-align: center;
}